.notification{
  width: 200px !important;
  height: 200px !important;
  background-color: #eee !important;
  border-radius: 10px;
  z-index: 100;
  box-shadow: 5px 5px 0.8px #ccc;
  position: absolute;
  top: 100px;
  right: 20px;


}
.above__tabs{
  background-color: #ccc;
}
.bg__change{
  /* background-color: blueviolet; */
  /* width: 33%; */
  padding: 0 50px;
  border-bottom-right-radius: 50px;
  
  border-top-right-radius: 50px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.bg__change:hover{
  color: white;
  
}